In [1]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [ ]:
Name = "Retaj"

In [4]:

print(Name)

Retaj

In [6]:
course = "Python "

print(course)

Python

In [11]:
# This is comment
"""
6666
"""

'\n6666\n'

In [21]:
name = "Retaj"
print (name)
print(type(name))

age = 20
print (age)
print(type(age))

skills = ["Python", "SQL"]
print (skills)
print(type(skills))

is_enrolled = True

print (is_enrolled)
print(type(is_enrolled))

gpa = 3.75
print (gpa)
print(type(gpa))

subjects = ["Math","Python", "physics"]
print (subjects)
print(type(subjects))

student_imfo = {"id": 101, "year": 2}
print (student_imfo)
print(type(student_imfo))

gradution_date = None
print (gradution_date )
print(type(gradution_date ))

Retaj
<class 'str'>
20
<class 'int'>
['Python', 'SQL']
<class 'list'>
True
<class 'bool'>
3.75
<class 'float'>
['Math', 'Python', 'physics']
<class 'list'>
{'id': 101, 'year': 2}
<class 'dict'>
None
<class 'NoneType'>